<body>
    <div class="profile-container">
        <header class="header">
          <div class="cover-photo">
            <img src="https://via.placeholder.com/1200x400" alt="Imagen de portada" class="cover-img">
          </div>
          <div class="profile-section">
            <img src="https://via.placeholder.com/150" alt="Foto de perfil" class="profile-img">
            <div class="user-info">
              <h1 class="user-name">{{user?.username}}</h1>
              <p class="user-handle">{{user?.firstName}} {{user?.secondName}}</p>
              <p class="user-bio"> {{user?.bio}}</p>
            </div>
        </div>
        </header>
    
      </div>
</body>
