<html>
  <body>
    
    <div class="LogInForm">
        <title class="title">Log In</title>
        <form [formGroup]="logForm" class="form">
            <h2>Iniciar Sesión</h2>
            <div class="formField">
        
                <input type="text" is = "username" formControlName = "username" placeholder="Nombre de usuario">
        
            </div>
            <div class="formField">
        
                <input type="password" is = "password" formControlName = "password" placeholder="Contraseña">
        
            </div>
        
            <button type="submit" (click)="tryLogIn()" > Iniciar Sesión </button>
        
        
        </form>
    
        

    </div>
    
  </body>
</html>


