body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form {
    background-color: #fff;
    padding: 60px;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 1%;
    width: 310px;
}
.form h2 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0px;
}
.form input[type="text"],
        
.form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            align-content: center;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #2d0081;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form button:hover {
    background-color: #2d0081;
}