<body>

    <div class="registerForm">



        <form [formGroup]="registerForm" (ngSubmit)="onRegister()" class="form">
            <div class="fields">

                <input is="username" formControlName="username" placeholder="Nombre de usuario">
                
            </div>

            <div>

                <input is="mail" formControlName="mail" placeholder="Correo electrónico">

            </div>

            <div>

                <input is="firstName" formControlName="firstName" placeholder="Nombre">
            </div>
            
            <div class="fields">

                <input is="secondName" formControlName="secondName" placeholder="Apellidos">
            </div>

            <div class="fields">

                <input is="bio" formControlName="bio" placeholder="Biografía">
            </div>

            <div class="fields">

                <input is="profilePicture" formControlName="profilePicture" placeholder="Foto de perfil">
            </div>

            <div class="fields">

                <input  type="password" is="password" formControlName="password" placeholder="Contraseña">
            </div>
        
            <div class="fields">

                <input  type="password" is="confPassword" formControlName="confPassword" placeholder="Repetir contraseña">
            </div>

            <button type="submit" label = "Register" [disabled]="registerForm.invalid"> Registrarse </button>
            
        </form>

    </div>
</body>